.main-form-data {
  margin: 5vw;
}

.delete-button {
  margin-left: 15px;
}

.count-input {
  margin-left: 15px;
  margin-right: 15px;
}

.add-item-button {
  background-color: rgb(132, 0, 255);
  margin-top: 15px;
}
